main{
  width: 96vw;
  margin-top: 100px;
  margin-left: 40px;
  z-index: 10;
}

.main-container {
  display: flex;
  width: 100%;
}

.title {
  font-size: 2.8rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  background: rgb(42, 42, 48);
  color: white;
  min-height: 100vh;
  position: fixed;
  z-index: 100;
  overflow: scroll;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.logo {
  font-size: 24px;
  line-height: 0;
  color: white;
  margin: 2px 0px;
}
.bars {
  width: 40px;
}
.hide {
  display: none;
}

.routes {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  text-decoration: none;
}
.link:hover {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
}
.link_text {
  white-space: nowrap;
  font-size: 15px;
}

.sidebar-theme{
  color: white;
  font-size: 16px;
  margin: 20px 20px 10px 25px;
  font-weight: 200;
  padding: 5px;
}

.menu {
  display: flex;
  color: white;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}

@media screen and (max-width: 500px) {
  .sidebar-theme{
    font-size: 15px;
  }
  .sidebar{
    overflow: scroll;
  }
}

